<html>
<script>
if(window.localStorage) {
  window.localStorage.clear();
}
if(window.localStorage) {
  window.sessionStorage.clear();
}
location.href = '/';
</script>
<meta http-equiv="refresh" content="1;URL=/">
<body>
<a href="/">Go to top</a>
</body>
</html>
