<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>Dropbox auth - wri.pe</title>
<script>
if(!!window.navigator.standalone) {
  location.href = 'http://wri.pe/app';
}
else {
  window.close();
}
</script>
<body>
<a href="#" onclick="window.close();">Close this window</a>
</body>
</html>