<div id="topbar">
  <div class="pull-right">
    <a href="#" class="dropdown-toggle nav-username" data-toggle="dropdown"><img class="user-icon" id="nav-usericon"/><span class="hidden-phone" id="nav-username"></span> <b class="caret"></b></a>
    <ul class="dropdown-menu">
     <li><a id="settings-backup-button"><i class="fas fa-book"></i> Backup</a></li>
     <li><a href="/sign_out"><i class="fas fa-sign-out"></i> Sign out</a></li>
    </ul>
 </div>
</div>
