<div class="content">
 <h4><i class="icon-keyboard"></i> Hot keys</h4>
 <p>
  <ul>
   <li>Save - [Ctrl]+<strong>S</strong></li>
   <li>Notes - [Shift]+[Ctrl]+<strong>I</strong></li>
   <li>Insert today - [Shift]+[Ctrl]+<strong>T</strong></li>
  </ul>
 </p>

 <p>
  You can use [Alt] and ⌘ instead of [Ctrl].
 </p>

 <h4><i class="icon-calendar"></i> Calendar</h4>
 <p>
  Dates written in the title or body of your notes are automatically inserted in your calendar.<br/>
  ex) 2013/1/1, 2013-2-1, March 1, 2013
 </p>

 <h4><i class="icon-cog"></i> Actions</h4>
 <p>
  If you want to delete this note, open "<i class="icon-cog"></i> Setting" tab.
 </p>

 <h4><i class="icon-pencil"></i> Markdown reference</h4>

 <h5>Format</h5>
 <dl>
  <dt>Italic</dt>
  <dd>*example* or _example_</dd>

  <dt>Bold</dt>
  <dd>**example** or __example__</dd>
 </dl>

 <h5>Links</h5>
 <dl>
  <dt>link</dt>
  <dd>URL</dd>

  <dt>with text</dt>
  <dd>[text](URL)</dd>
 </dl>

 <h5>Headings</h5>
 <dl>
  <dt>first level</dt>
  <dd>#<span class="space">&nbsp;</span>title</dd>

  <dt>second level</dt>
  <dd>##<span class="space">&nbsp;</span>title</dd>

  <dt>third level</dt>
  <dd>###<span class="space">&nbsp;</span>title</dd>
 </dl>

 <h5>Lists</h5>
 <dl>
  <dt>first level</dt>
  <dd>-<span class="space">&nbsp;</span>item</dd>

  <dt>second level</dt>
  <dd><span class="space">&nbsp;</span>-<span class="space">&nbsp;</span>item</dd>

  <dt>Ordered Lists</dt>
  <dd>1. <span class="space">&nbsp;</span>item</dd>
 </dl>

 <h5>Block Quotes</h5>
 <dl>
  <dt>first level</dt>
  <dd>&gt;<span class="space">&nbsp;</span>block</dd>

  <dt>second level</dt>
  <dd>&gt;&gt;<span class="space">&nbsp;</span>block</dd>

  <dt>Code block</dt>
  <dd>```<br/>Your code<br/>```</dd>
 </dl>

 <h5>More</h5>
 <dl>
  <dt>code</dt>
  <dd>`code`</dd>

  <dt>Horizontal Rule</dt>
  <dd>---</dd>
 </dl>
</div>
