<div id="edit-markdown-toolbar" class="pull-left visible-desktop">
 <div class="btn-group">
  <div class="btn" onclick="markdownToolbar.insertTemplate('\n- ');" data-toggle="tooltip" title="- line"><i class="icon-list-ul"></i></div>
  <div class="btn" onclick="markdownToolbar.insertTemplate('\n\n---\n\n');" data-toggle="tooltip" title="---"><i class="icon-minus"></i></div>
 </div>
 <div class="btn-group">
  <div class="btn" onclick="markdownToolbar.insertTemplate('\n# ');" data-toggle="tooltip" title="# title">H1</div>
   <div class="btn" onclick="markdownToolbar.insertTemplate('\n## ');" data-toggle="tooltip" title="## title">H2</div>
   <div class="btn" onclick="markdownToolbar.insertTemplate('\n### ');" data-toggle="tooltip" title="### title">H3</div>
   <div class="btn" onclick="markdownToolbar.insertTemplate('\n#### ');" data-toggle="tooltip" title="#### title">H4</div>
  </div>
  <div class="btn-group">
   <div class="btn" onclick="markdownToolbar.insertLink();" data-toggle="tooltip" title="[title](URL)"><i class="icon-link"></i></div>
   <div class="btn" onclick="markdownToolbar.insertTemplate(' **bold** ', -7, -3);" data-toggle="tooltip" title="**bold**"><i class="icon-bold"></i></div>
   <div class="btn" onclick="markdownToolbar.insertTemplate(' *italic* ', -8, -2);" data-toggle="tooltip" title="*italic*"><i class="icon-italic"></i></div>
  </div>
  <div class="btn-group">
   <div class="btn" onclick="markdownToolbar.insertToday();" data-toggle="tooltip" title="Shift+Ctrl+T">Today</div>
  </div>
 </div>
